<%= form_for([@recipe, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>



    <script>
      $(document).ready(function(){
          $("#btn1").hover(function(){
              $("#comment_rating").val("1");
          });
          $("#btn2").hover(function(){
              $("#comment_rating").val("2");
          });
      
          $("#btn3").hover(function(){
              $("#comment_rating").val("3");
          });
          $("#btn4").hover(function(){
              $("#comment_rating").val("4");
          });
          $("#btn5").hover(function(){
              $("#comment_rating").val("5");
          });
      });
    </script>


  <div id="rating">
    <strong>Rate it:</strong>
    <div class="glyphicon glyphicon-star-empty" id="btn1"></div>
    <div class="glyphicon glyphicon-star-empty" id="btn2"></div>
    <div class="glyphicon glyphicon-star-empty" id="btn3"></div>
    <div class="glyphicon glyphicon-star-empty" id="btn4"></div>
    <div class="glyphicon glyphicon-star-empty" id="btn5"></div>
    <%= f.text_field :rating, size:"1", class:"no-lines" %>
  </div>

  <div class="form-group">
    <%= f.label :comment_entry, class:"sr-only" %><br>
    <%= f.text_area :comment_entry, class: "form-control", placeholder: "Comment", rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class:"sr-only" %><br>
    <%= f.text_field :user_id, class: "form-control", placeholder: "Author" %>
  </div>
  
    <div class="cant-see-me">
    <%= f.number_field :recipe_id, value: @recipe.id %>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>