<div class="hero-unit">
 
              <br><br><br><br><br><br><br>
              <div class="container">
              <center><h1>Make Something Delicious</h1></center>
              <center><h2>Find a recipe on almost anything you could want and become the chef you've always wanted to be.</h2></center>
              </div>
 
   </div>


<p id="notice"><%= notice %></p>

</div class="container-fluid">

<h1>Recipes</h1>

  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4><%= link_to recipe.title, recipe %></h4>

        </div>
        
        <div class="panel-body">
        <% if recipe.avatar_file_name != nil %>
          <%= image_tag recipe.avatar.url(:medium), class: "img-rounded" %></p>
        <% end %>
         By <%= link_to recipe.user.username, user_recipes_path(id: recipe.user.id) %> <br>
          <i>Posted <%= recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></i>
          <p>Ingredients: <%= recipe.ingredients[0..250] %>...[<%= link_to "Read More", recipe %>]</p>
        </div>
        <% if current_user.id == recipe.user.id %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning" %>
          <%= link_to "Delete", recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    </div>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default" %>
  </div>
 

<br>

