<p id="notice"><%= notice %></p>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= @recipe.title %>
    </div>
    <div class="panel-body">
      <p>Posted by: <%= link_to @recipe.author %></p>
      <p>Category: <%= @recipe.category %></p>
      <p>Recipe notes: <%= @recipe.notes %></p>
      
      <p>Ingredients: <%= @recipe.ingredients %></p>
      <p>Directions: <%= @recipe.directions %></p>
      
    </div>
    <div class="panel-footer">
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning" %>
        <%= link_to "Delete", @recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
    </div>
    
  </div>



  <%= link_to 'Back', recipes_path, class: "btn btn-primary" %>
