<div class="container">

<h1><%= @user.username %>'s Page</h1>

<p><strong>Name:</strong> <%= @user.name %></p>

<p><strong>Birthday:</strong><%= @user.birthday.strftime('%m/%d/%Y') %></p>

<div class="row">
	<% @user.recipes.each do |recipe| %>
	<div class="col-md-12">
		<div class="panel panel-success">
		<div class="panel-heading">
			<%= link_to recipe.title, recipe %>
		</div>

		<div class="panel-body">
			by <%= recipe.user.username %>
				<p><span class="posted-at">posted at: <%= recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span></p>
				<p><%= recipe.ingredients[0..250] %>...[<%= link_to "Read More", recipe %>]</p><br>

		</div>

     <% if current_user.id == recipe.user.id %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning" %>
          <%= link_to "Delete", recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
        <% end %>

		</div>
	</div>
	<% end %>
</div>

<br>

</div>