<h1>Your Recipes</h1>

  <div class="row">
    <% current_user.recipes.each do |recipe| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        <%= link_to recipe.title, recipe %>

        </div>
        
        <div class="panel-body">
         By <%= recipe.user.username %> <br>
          <i>Posted <%= recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></i>
          <p><%= recipe.ingredients[0..250] %>...[<%= link_to "Read More", recipe %>]</p>
        </div>

        <% if current_user.id == recipe.user.id %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning" %>
          <%= link_to "Delete", recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
        <% end %>
    
      </div>
    </div>
    <% end %>
  </div>